/* base */
@import url("https://fonts.googleapis.com/css2?family=Butcherman&family=Work+Sans:wght@100;300;400;900&display=swap"); 
/* @font-face {
  font-family: "Creepy";
  src: url("../fonts/Creepy.woff") format("woff"),
       url("../fonts/Creepy.woff2") format("woff2");
}

@font-face {
  font-family: "Lunacy";
  src: url("../fonts/Lunacy.woff") format("woff"),
       url("../fonts/Lunacy.woff2") format("woff2");
} */

html {
  font-size: 65.5%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

body {
  height: 100vh;
  background-image: url(../images/king-dice.png);
}

header {
  padding: 1rem;
}

h1 {
  font-family: 'Butcherman', 'sans-serif';
  font-size: 5rem;
  text-align: center;
}

h2 {
  font-family: 'Works Sans', 'sans-serif';
  font-size: 2rem;
  color: #1f1f1f;
}

p {
  font-family: "Works Sans", "sans-serif";
  font-weight: 500;
  color: #2e2e2e;
  line-height: 1.4em;
  font-size: 1.6rem;
  font-size: clamp(1.6rem, 1.5259259259259261rem + 0.37037037037037024vw, 2rem);
}

/* Game area styling */
.game-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

#scores-area {
  width: 100%;
  position: absolute;
  top: -15%;
  display: flex;
  justify-content: space-around;
}

#game-area {
  top: 15rem;
  position: relative;
  z-index: 1;
  width: 800px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2rem 2rem 2rem;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 26px 1px rgb(238, 2, 2);
  -moz-box-shadow: 0px 0px 26px 1px rgb(238, 2, 2);
  box-shadow: 0px 0px 26px 1px rgb(238, 2, 2);
}

/* Cards area styling */
#computer-area {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#computer-cards {
  display: flex;
  justify-content: center;
  height: 150px;
}

#game-area #message {
  font-family: "Butcherman";
  font-size: 3rem;
}

#message-area {
  width: 100%;
  padding: 1rem;
  text-align: center;
}

#player-cards {
  display: flex;
  justify-content: center;
  height: 150px;
}

/* Game buttons styling */
#button-area {
  position: absolute;
  right: 10px;
  bottom: -20%;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.right-box {
  display: flex;
}

.right-box button {
  margin-left: 16px;
}

.left-box button {
  margin-left: 16px;
}

button {
  font-family: "Work Sans", "sans-serif";
  font-weight: 700;
  text-transform: uppercase;
  color: #2e2e2e;
  line-height: 1.4em;
  font-size: 1.6rem;
  font-size: clamp(1.6rem, 1.5259259259259261rem + 0.37037037037037024vw, 2rem);
  padding: 1rem 2rem;
  border-radius: 10px;
  outline: none;
  border: none;
  transition: all 0.2s ease 0s;

  -webkit-box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
}

button:hover {
  cursor: pointer;
  color: rgb(238, 2, 2);
}

button:active {
  color: rgb(238, 2, 2);
  -webkit-box-shadow: inset 0px 0px 14px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 14px 5px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 14px 5px rgba(0, 0, 0, 0.75);
}

/* Footer area styling */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

footer a {
  margin: 2rem;
}

footer p:hover {
  color: rgb(238, 2, 2);
}

/* smaller screens @ max 950px media queries */

@media screen and (max-width: 950px) {
  #game-area {
    top: 3rem;
    width: 100%;
    height: auto;
    margin: 3rem;
  }

  .left-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .right-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }

  .right-box button {
    margin-left: 0;
  }

  .left-box button {
    margin-left: 0;
  }

  #button-area {
    display: block;
    bottom: -35%;
    right: 0;
  }
}
